.footer h2,
.footer h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.footer {
  background: #000;
  color: #fff;
  width: 89.5%;
  padding: 30px 80px 30px;
  border-top: 4px solid #111;
  display: grid;
  gap: 30px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.footer p {
  color: #ccc;
  line-height: 1.7;
  max-width: 280px;
}

.footer-column {
  min-width: 180px;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #fff;
  padding-left: 5px;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
}
@media (max-width: 768px) {  
  .footer-container{
  flex-direction: column;
  padding: 60px;
  text-align: center;
  margin-right: 100px;
  }
  .footer-bottom{
    text-align: center;
    flex-direction: column;
  }
}