section {
  margin: 0;
}
.who {
  padding: 120px 0 0 0;
}


.who-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.who-text {
  flex: 1;
}

.who-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  margin-bottom: 25px;
}

.who-text p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 18px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.read-more:hover {
  opacity: 0.7;
}

/* Image placeholder */
.who-image {
  flex: 1;
  height: 380px;
  background: #eee;
  border-radius: 10px;
}
.who-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  
}
@media (max-width: 768px) {
  .who-container{
  flex-direction: column;
  padding: 20px;
  text-align: center;
  }
}

/* SPACE BETWEEN SECTIONS */
.who-stats {
  background: #000;
  color: #fff;
  padding: 80px 0;
  margin: 0;
}

/* Container */
.stats-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
}

/* Stat box */
.stat-box {
  flex: 1;
}

/* Numbers */
.stat-number {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.stat-box p {
  color: #ccc;
  font-size: 18px;
}

/* Mobile */
@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    gap: 50px;
  }
}