.who {
  padding: 120px 0;
  background: white;
}

.who-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.who-text {
  flex: 1;
}

.who-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  margin-bottom: 25px;
}

.who-text p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 18px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.read-more:hover {
  opacity: 0.7;
}

/* Image placeholder */
.who-image {
  flex: 1;
  height: 380px;
  background: #eee;
  border-radius: 10px;
}
.who-image img {
  width: 100%;
  height: 130%;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .who-container{
  flex-direction: column;
  padding: 20px;
  text-align: center;
  }
}